.App {
  text-align: center;
  font-family: 'Poppins';
  
}

h1 {
  width: 545px;
  height: 32px;

  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 32px;
  /* identical to box height */

  letter-spacing: 0.25px;

  /* Grayscale / 90% */

  color: #373B5C;


  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
